.jumper {
    top: -10000px;
    position: absolute;
    background-color: yellow;
    color: blue;
}

.jumper:focus {
    top: 1%;
}

.holder {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    border: 3px solid  #e91e63;
    margin-bottom: 25px;
    justify-content: space-between;
}

.holder p {
    border: 3px solid #708090;
    background-color: rgb(186, 185, 185);
    border-radius: 50%;
    padding: 45px 20px;
    text-align: center;
    margin: 10px 0px;
}

.holder p:last-child {
    grid-column: 1/-1;
    border-radius: 0;
}

main div:last-child{
    background-color: rgb(186, 185, 185);
    padding: 4%;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .first {
        grid-template-columns: 40% 40%;
        border-radius: 0;
    }

    .first p {
        border: 2px solid #000045;
        border-radius: 0;
    }

    .first p:nth-child(3n) {
        grid-column: 1/-1;
    }

    .first p:last-child {
        display: none;
    }

}